<div class="container-fluid grid_container">

  <div class="jumbotron">
    <div class="row">
      <div class="col">
        <p>
          {{ .Site.Params.description | markdownify }}
        </p>
      </div>
    </div>

    <div class="row">
      {{ if (isset .Site.Params "youtube_subscribe") }}
      <div class="d-flex p-2 subscribe_buttons col-md-auto">
        <a class="btn btn-default" href="{{ .Site.Params.youtube_subscribe}}"><i
            class="fab fa-youtube"></i>&nbsp;Youtube</a>
      </div>
      {{ end }}
      {{ if (isset .Site.Params "spotify_subscribe") }}
      <div class="d-flex p-2 subscribe_buttons col-md-auto">
        <a class="btn btn-default" href="{{ .Site.Params.spotify_subscribe}}"><i
            class="fab fa-spotify"></i>&nbsp;Spotify</a>
      </div>
      {{ end }}
      {{ if (isset .Site.Params "itunes_subscribe") }}
      <div class="d-flex p-2 subscribe_buttons col-md-auto">
        <a class="btn btn-default" href="{{ .Site.Params.itunes_subscribe}}"><i class="fa fa-podcast"></i>&nbsp;Apple
          Podcasts</a>
      </div>
      {{ end }}
      {{ if (isset .Site.Params "rss_subscribe" )}}
      <div class="d-flex p-2 subscribe_buttons col-md-auto">
        <a class="btn btn-default" href="{{ .Site.Params.rss_subscribe }}"><i class="fa fa-rss"></i>&nbsp;Podcast
          RSS</a>
      </div>
      {{ else }}
      <div class="d-flex p-2 subscribe_buttons col-md-auto">
        <a class="btn btn-default" href="{{"episode/index.xml" | absURL }}"><i class="fa fa-rss"></i>&nbsp;RSS</a>
      </div>
      {{ end }}
      {{ $blog := (where .Site.RegularPages "Section" "==" "blog") }}
      {{ if ge (len $blog) 1 }}
      <div class="d-flex p-2 subscribe_buttons col-md-auto">
        <a class="btn btn-default" href="{{"blog/index.xml" | absURL }}"><i class="fa fa-rss"></i>&nbsp;Blog RSS</a>
      </div>
      {{ end }}
    </div>
  </div>
</div>