name: pr

on:
  pull_request_target:
    types: [opened, synchronize, reopened, closed]

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3

      - name: Build
        run: hugo build --buildFuture --logLevel INFO -b https://orange-bay-06b0d8003-${{github.event.number}}.4.azurestaticapps.net
        
      - name: Archive Public folder
        uses: actions/upload-artifact@v6
        with: 
          name: site-release
          path: public/**

  deploy:
    if: github.event.action != 'closed'
    runs-on: ubuntu-latest
    name: Deploy
    permissions:
      contents: read
      pull-requests: write
    needs: build
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v7
        with:
          name: site-release
          path: public

      - name: Deploy
        id: deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "public"
          skip_api_build: true
          skip_app_build: true

  close_pull_request_job:
    if: github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          app_location: "public"
          action: "close"